@model RewardsForYou.Models.SearchDeleteUser

@using (Html.BeginForm())
{

    <div class="form-horizontal">
        <h4>Search Users</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Serial, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Serial, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Serial, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EMail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EMail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EMail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" onclick="CheckUser()" class="btn btn-default" />
            </div>
        </div>
    </div>



}



<div class="container-fluid">
    <div class="container-fluid" id="SearchViewContainer" style="margin-top:5px;overflow-x:auto;width:100%;">
        @{Html.RenderPartial("_SearchDelete", Model.Lista);}
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    function CheckUser() {
        var Data = {
            Serial: $('#Serial').val(),
            EMail: $('#EMail').val()
        };
       
        $.ajax({
            type: "POST",
            url: "@Url.Action("TakeJsonUsers", "Amministrator")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(Data),
            success: function (data) {
                alert(data.message);
                //if (data.flag == true) {
                //    window.location.reload();
                //}
            },
            failure: function () {
                alert("The call is failed");
            },
            error: function () {
                alert("Error!");
            }
        });
    }
</script>