@model RewardsForYou.Models.Users


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Serial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManagerUserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roles.Role)
        </th>
    
        <th></th>
    </tr>


    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Serial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManagerUserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Roles.Role)
        </td>
    </tr>


</table>
