@model IEnumerable<RewardsForYou.Models.Users>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Serial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManagerUserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roles.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users1.Serial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users2.Serial)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Serial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManagerUserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Roles.Role)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users1.Serial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users2.Serial)
        </td>
    </tr>
}

</table>
