@model RewardsForYou.Models.Users


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Serial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManagerUserID)
        </th>
       
    
        <th></th>
    </tr>


    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.Serial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.EMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.ManagerUserID)
        </td>
        
    </tr>


</table>
