@model RewardsForYou.Models.Users

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Users</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Serial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagerUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerUserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Roles.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roles.Role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users1.Serial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users1.Serial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users2.Serial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users2.Serial)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
