@model IEnumerable<RewardsForYou.Models.Users>



<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/lib/bootstrap.min.css">
    <script src="/lib/jquery-1.12.2.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
</head>

<h2>List of Employee</h2>


<div class="container">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1" class="list-group-item active" align="center"><h4>List's Employee</h4></a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Serial)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Surname)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EMail)
                            </th>
                           


                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Serial)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Surname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EMail)
                                </td>
                               


                                <td>
                                    @*<a href="@Url.Action("ListaUsers","Manager")" new { id=item.UserID }) class="btn btn-primary">+</a>
                                        <a href="@Url.Action("ListaUsers","Manager")" new { id=item.UserID }) class="btn btn-primary">Details Employee</a>*@

                                    <a class="btn btn-primary" onclick="ShowMissionModal ('@item.UserID')">Details Employee</a>
                                    @*<a class="btn btn-primary" onclick="ShowAddModal ('@item.UserID')">Add Task</a>*@
                                    <a class="btn btn-primary" onclick="ShowViewModal ('@item.UserID')">View Task</a>
                                    <a class="btn btn-primary" onclick="ShowAssegnaModal ('@item.UserID')">+</a>
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

                    </br>
                    </br>

                    <div>
                        @Html.ActionLink("Back to List", "Index")
                    </div>

                    <script type="text/javascript">
                        function ShowMissionModal(UserID) {

                            window.open(Router.action('EmployeeDetail', 'Index', { UserID: UserID }));
                            //$('#showModal .modal-body').load(Router.action('Employee', 'Index', { UserID: UserID }));
                            //$('#showModal').modal("show");


                        }

                        //function ShowAddModal(UserID) {

                        //    $('#showModal .modal-body').load(Router.action('Manager', 'AddTask', { UserID: UserID}));
                        //    $('#showModal').modal("show");


                        //}

                        function ShowViewModal(UserID) {

                            $('#showModal .modal-body').load(Router.action('Manager', 'ViewTask', { UserID: UserID }));
                            $('#showModal').modal("show");

                        }

                        function ShowAssegnaModal(UserID) {

                            $('#showModal .modal-body').load(Router.action('Manager', 'AssegnaTask', { UserID: UserID }));
                            $('#showModal').modal("show");

                        }



                    </script>

                    @*TaskID: TaskID, Type: Type, Description: Description, ExpiryDate: ExpiryDate, Points: Points, Finished: Finished*@
