@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <style>

        .button {
            display: inline-block;
            border-radius: 4px;
            background-color: DodgerBlue;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 28px;
            padding: 20px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }

            .button span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }

                .button span:after {
                    content: '\00bb';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -20px;
                    transition: 0.5s;
                }

            .button:hover span {
                padding-right: 25px;
            }

                .button:hover span:after {
                    opacity: 1;
                    right: 0;
                }
    </style>

</head>


<body>
    <div class="jumbotron">
        <h1 class="text-center">Rewards For You</h1>
    </div>
    <div class="jumbotron">
        <div class="row" align="center">
            @*<div class="col-md-12">
                <div class="card" id="Employee">
                    <div class="card-body text-center">
                        <h5 class="card-title">Employee</h5>
                        <p class="card-text">Entra nella tua pagina personale</p>
                        <a href="@Url.Action("Index","Employee")" class="button" style="vertical-align: middle"><span>Vai</span></a>
                    </div>
                </div>
            </div>*@

            <div id="Manager">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <a href="@Url.Action("ManagerProfile","Manager")" class="button" style="vertical-align:middle"><span>Manager Profile</span></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <a href="@Url.Action("ListaUsers","Manager")" class="button" style="vertical-align:middle"><span>My Employee</span></a>
                        </div>
                    </div>
                </div>


                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <a href="@Url.Action("ManagerTaskandReward","Manager")" class="button" style="vertical-align: middle"><span>Tasks and Rewards</span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card" id="Amministrator">
                    <div class="card-body text-center">
                        <h5 class="card-title">Amminstrator</h5>
                        <p class="card-text">Entra nella tua pagina di amministrazione</p>
                        <a href="@Url.Action("Index","Amministrator")" class="button" style="vertical-align: middle" ><span>Vai</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
<script type="text/javascript">
    @*$(document).ready(function () {

        if ("@ViewData["Employee"]" == "True") {
            "@Url";
            // $('#Employee').css("display", "none");
        }
        if ("@ViewData["Manager"]" == "True") {
            "@Url.Action"
            //$('#Manager').css("display", "none");
        }
        if ("@ViewData["Amministrator"]" == "True") {
            $('#Amministrator').css("display", "none");
        }
    });*@
</script>
